.main {
    width: 800px;
    margin: auto;
}

.main-video {
    margin: 60px 0;
}

.main-video iframe {
    border: 0;
}

.main-soundcloud {
    margin: 100px 0;
}

.main p {
    margin: 20px 0;
}



body {
    background-color: #24292e;
    margin: 0;
    padding: 0;
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #595959;
    font-weight: 400;
    box-sizing: border-box;
}

.header {
    color: #fff;
    text-align: center;
}

.logo {
    margin: 50px;
    text-shadow: 2px 2px 2px #595959;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.header-title {
    user-select: none;
    font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 75px;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.header-subtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.topnav {
    margin: 30px 0;
    text-transform: uppercase;
}

.topnav a {
    margin: 30px;
    padding: 10px;
}

.topnav a:hover {
    background-color: #2b3137;
}

.topnav a:visited {
    text-decoration: none;
    color: inherit;
}

.topnav a:active {

    text-decoration: none;
    color: inherit;
}

a.active {
    background-color: #2b3137;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
}
